.topic
{
    font-size: 20px;
}
.people-list ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.people-list ul,.people-list ul li, .people-list ul li table
{
    width: 100%;
    box-sizing: border-box;
}

.people-list ul li
{
    padding: 5px;
    background-color: #292929;
    border-radius: 12px;
    margin-bottom: 5px;
}
.people-list ul li table td.sp-pp
{
    width: 50px;
}
.people-list ul li table td.sp-name
{
    width: 40%;
}
.people-list ul li table td button
{
    padding: 5px;
    background-color: transparent;
    width: 100px;
    border: 2px solid #4dd336;
    border-radius: 20px;
    color: #4dd336;
}
.people-list ul li table td button.side-r:hover
{
    font-weight: bold;
    background-color: #76ff5e21;
    cursor: pointer;
}
.people-list ul li table td button.side-after:hover
{
    border: 2px solid #ff0000;
    color: #ff0000;
    cursor: pointer;
    font-weight: bold;
    background-color: #ff3c003f;

}


.people-list ul li table td img
{
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50%, 50%;
}

.locate_filter
{
    width: 100%;
}
.locate_filter label, .locate_filter select
{
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
}
.locate_filter select
{
    outline: none;
    padding: 8px 12px;
    margin-bottom: 10px;
}
.locate_filter form
{
    margin: 10px;
}
.slidecontainer {
width: 100%;
}

.slider {
-webkit-appearance: none;
width: 100%;
height: 15px;
border-radius: 5px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: #4dd336;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #4dd336;
cursor: pointer;
}
.locate_filter input[type='range']
{
    width: 100%;
    box-sizing: border-box;
}
.locate_filter div
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.locate_filter input.new_f_search
{
    background-color: #4dd336;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    border: none;
}
.locate_filter input.new_f_search:hover
{
    font-weight: bold;
    background-color: #20850e;
    cursor: pointer;
}
