.trending-topics-div
{
    box-sizing: border-box;
}
.trending-topics-div, .trending-topics-div ul
{
    margin: 10px;
    width: 100%;
}
.trending-topics-div ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.trending-topics-div ul li
{
    display: inline-block;
}

.trending-topics-div ul li button
{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 20px;
    padding: 5px;
}

.trending-topics-div ul li button:hover
{
    background-color: rgb(187, 187, 187);
    font-weight: bold;
    cursor: pointer;
}