/* background */
.chatpage
{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(236, 236, 236);
}

/* total coverage of feed */
.container_chatbox
{
    padding: 25px;
    top: 5%;
    width: 100%;
    height: 90%;
    position: fixed;
}
div.friend-name
{
    width: 26%;
    height: 100%;
    overflow-x: auto;
    display: inline-block;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* middle container */
div.chat-div
{
    background-color: rgb(255, 255, 255);
    width: 45%;
    height: 100%;
    padding: 10px;
    overflow-x: auto;
    display: inline-block;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
div.container3
{
    width: 26%;
    height: 100%;
    overflow-x: auto;
    display: inline-block;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.m1
{
    padding: 10px;
}
.m1-img
{
    display: inline-block;
}
.m1-img img
{
    border-radius: 50px;
    width: 50px;
}
.m1-label
{
    display: inline-block;
}

.m1-label a
{
    text-decoration: none;
    color: black;
}

.name-list
{
    padding: 15px;
}
.nametable
{
    width: 100%;
}
.nametable:hover
{
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

.to-user
{
    padding-top: 25px;
}

.to-user img
{
    width: 80px;
    border-radius: 50%;
}
.msg-box
{
    width: 95%;
    height: 440px;
    overflow-y: auto;
    padding: 10px;
    margin: 3px;
    border: 2px solid rgb(221, 221, 221);
}
.show-msg
{
    width: 95%;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;  
}
.show-msg img
{
    width: 50px;
}
.darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .show-msg::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .show-msg img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .show-msg img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }
 
.write-msg .msg-put textarea
{
    padding: 8px 12px;
    height: 40px;
    font-size: 18px;
    width: 90%;
    resize: none;
    margin: 8px 0;
    display: inline-block;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.msg-put
{
    width: 80%;
    padding: 5px;
    display: inline-block;
    float: left;
}
.emoji-put
{
    float: right;
    width: 5%;
    padding: 5px;
    display: inline-block;
}
.emoji-put button.emdisp
{
    border: none;
    padding: 12px;
    font-size: 15px;
    background-color: white;
    border-radius: 50%;
}
.emoji-put button.emdisp:hover
{
    background-color: rgb(224, 224, 224);
}
.emoji-put .emdisp img
{
    width: 20px;
    height: 18px;
}

#emobox
{
    bottom: 14%;
    right: 29%;
    height: 150px;
    overflow-y: auto;
    position: absolute;
    display: none;
    width: 200px;
    padding: 10px;
    background-color: white;
}
#emobox button
{
    width:24.5%;
    padding: 2px;
    border: none;
    background-color: white;
    outline: none;
}
#emobox button:hover
{
    background-color: #dedede;
}
.show
{
    display: block;
}