*
{
    margin: 0;
}

.header_top
{
    box-shadow: 0 0 3px 3px #2e7b20c7;
    width: 100%;
    background: rgb(22, 21, 21);
    z-index: 1;
    min-width: 1200px;
    position: fixed;
}

.header_top table 
{
    width: 100%;
}

.header_top .logo
{
    text-align: center;
    width: 5%;
}
.logo img
{
    width: 50px;
    font-size: 50px;
}
.searchbar
{
    width: 20%;
}
.searchbar input
{
    border-radius: 20px;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(168, 168, 168);
    box-sizing: border-box;
    outline: none;
}
.header_btns_div
{
    width: 45%;   
}
.header_btns, .header_btns_active
{
    width: 24%;
    display: inline-block;
    text-align: center;
}
.header_btns_active
{
    border-bottom: 2px solid #2D7B20;
}
#h-a, #v-a, #t-a, #d-a, #m-n-a, #m-n-i
{
    display: none;
}
.header_btns_div .header_btns a img, .header_btns_active a img
{
    width: 25px;
    height: 25px;
}
.mobile_nav
{
    display: none;
}
.close_nav
{
    font-size: larger;
    font-weight: bold;
}
.close_nav:hover
{
    cursor: pointer;
}
.header_m_img
{
    padding: 12px;
    border-radius: 30px;
}
.header_m_img:hover
{
    opacity: 50%;
}
.bar_buttons
{
    width: 24%;
    text-align: center;
}
.bar_buttons img
{
    width: 30px;
    height: 30px;
    padding: 12px;
}
.d1btn, .d2btn , .d3btn, .d2btn-a, .d3btn-a
{
    background-color: inherit;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
img.d1btn
{
    margin: 10px;
    padding: 0;
    box-shadow: 0 0 3px 3px #2D7B20;
}
.d2btn-a, .d3btn-a
{
    display: none;
}
.d1btn:hover, .d1btn:focus, .d2btn:hover, .d2btn:focus, .d3btn:hover, .d3btn:focus, .d2btn-a:hover, .d2btn-a:focus, .d3btn-a:hover, .d3btn-a:focus 
{
    opacity: 50%;
}
.badge-message, .badge-notification
{
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bolder;
    background-color: rgb(202, 48, 48);
    color: white;
}
.badge-nav
{
    position: absolute;
    top: 5px;
    right: 23px;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bolder;
    background-color: rgb(202, 48, 48);
    color: white;
}
.pp-show
{
    display: inline-block;
}
.pp-show:hover
{
    cursor: pointer;
}
.badge-verified
{
    position: absolute;
    top: 73px;
    right: 95px;
    border-radius: 50%;
}
.badge-verified img.nv
{
    width: 20px;
    height: 20px;
}

.dd 
{
    position: relative;
    border-radius: 50px;
    display: inline-block;
}

.dd1-content, .dd2-content, .dd3-content
{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 300px;
    box-shadow: 0px 0 3px 3px #2D7B20;
    top: 120%;
    right: 0;
    -webkit-animation: slidein_dropdown;
    -webkit-animation-duration: 0.5s;
}
@keyframes slidein_dropdown
{
    from {top: 0%; opacity: 0}
    to {top: 120%; opacity: 1}; 
}

  
.dd1-content a, .dd2-content a, .dd3-content a 
{
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
}
.dd2-content a, .dd3-content a
{
    text-align: left;
}

.dd3-content:after , .dd1-content:after, .dd2-content:after 
{
    content: "";
    position: absolute;
    right: 15px;
    width: 20px;
    height: 20px;
    border-top: 2px solid #2D7B20;
    border-left: 2px solid #2D7B20;
    background-color: white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    top: -12px;
    right: 5%;
    transform: rotate(45deg);
    z-index: 1;
}
.show 
{
    display: block;
}
.user_option
{
    margin-top: 10px;
}
.user_option img
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 200px;
    box-shadow: 0 0 3px 3px #2D7B20;
    padding: 0;
}
.img-div-1
{
    background-color: black;
}
.light
{
    color:rgb(148, 148, 148);
    font-size: 10px;
}
.bd
{
    border-top: 1px solid grey;
}

/* preloader */
.preloader
{
    top: 50%;
    left: 50%;
    transform: (-50%,-50%);
    position: absolute;
}
.animate-start
{
    animation: 2s loading infinite;
}
@keyframes loading
{
    0%{}
    100%{transform: rotate(720deg);}
}
.preloader img
{
    width: 80px;
}
.not-loaded
{
    display: none;
}

@media only screen and (max-width: 800px) 
{
    .header_top
    {
        min-width: 100%;
    }
    .logo
    {
        display: none;
    }
    .bar_buttons
    {
        display: none;
    }
    .searchbar
    {
        display: none;
    }
    #m-n-i
    {
        display: inline-block;
    }
    .header_btns, .header_btns_active
    {
        width: 19%;
    }
}