*
{
    margin: 0;
}
.main_body
{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
}

.img_theme
{
    width: 60%;
    min-width: 500px;
    height: 100%;
    float: left;
    display: inline-block;
}
.img_theme-content
{
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-animation: appear;
    -webkit-animation-duration: 1s;
}
@keyframes appear 
{
    from{left:-10%; opacity: 0;}
    to{left:0; opacity: 1;}
}

.img_theme img
{
    width: 100%;
    height: 100%;
    position: relative;
}

.form_container
{
    width: 40%;
    min-width: 500px;
    height: 100%;
    display: inline-block;
    float: right;
    position: fixed;
}

.display_mode
{
    right: 10px;
    margin: 10px;
    position: absolute;
}

.display_mode button:hover
{
    cursor: pointer;
}

.login_container, .signup_container
{
    width: 400px;
    position: relative;
    left: 50%;
    top: 50%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transform: translate(-50%, -50%); 
    -webkit-animation: appear_login;
    -webkit-animation-duration: 1.5s;
}
.signup_container
{
    display: none;
}
.signin-form
{
    position: relative;
    border-bottom: 5px solid #2D7B20;
}
@keyframes appear_login
{
    from{opacity: 0;}
    to{opacity: 1;}
}

.login_container input, .signup_container input
{
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    margin-bottom: 10px;
    outline: none;
}
.fullname
{
    width: 100%;
}
.first_name, .last_name
{
    width: 50%;
    display: inline-block;
}
.first_name
{
    float: left;
}
.last_name
{
    float: right;
}
.signup_container .fullname .first_name input
{
    width: 95%;
    box-sizing: border-box;
    padding: 8px 12px;
    outline: none;
}

.login_container input[type='submit'], .signup_container input[type='submit']
{
    border: none;
    background-color: #2D7B20;
    box-sizing: border-box;
    color: white;
    font-size: 25px;
}

.login_container input[type='submit']:hover, .signup_container input[type='submit']:hover
{
    background-color: #207b34;
    cursor: pointer;
    font-weight: bolder;
}
.signup_container input[type='radio']
{
    width: auto;
    display: inline-block;
}

.login_container .forgot
{
    width: 100%;
    padding: 0px;
    text-align: center;
    margin-bottom: 10px;
}

.login_container a
{
    font-size: 19px;
    color: white;
    text-decoration: none;
}
.login_container a:hover
{
    color: wheat;
    text-decoration: underline;
    font-weight: bolder;
}

.signup-btn
{
    margin-top: 20px;
}
.signup-btn button 
{
    padding: 8px 12px;
    width: 100%;
    font-size: 25px;
    border: none;
    box-shadow:0 0 5px 5px #2D7B20;
    background-color: transparent;
    color: #2D7B20;
}
.signup-btn button:hover
{
    font-weight: bolder;
    box-shadow:0 0 5px 5px #207b34;
    color: #207b34;
    cursor: pointer;
}
.policy
{
    font-size: 13px;
    margin-bottom: 10px;
    border-top: 3px solid #2D7B20;
}
.logo
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: none;
    color: #2D7B20;
    font-size: 50px;
}
#dark, #light
{
    background-color: transparent;
    border: none;
}
#dark img, #light img
{
    width: 50px;
}

.birthday, .gender
{
    font-size: 15px;
    display: block;
    margin: 10px;
}
.birthday select
{
    padding: 8px 12px;
    width: 90px;
}
.gender label
{
    padding: 4px 6px;
    width: 45px
}

footer
{
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 600px;
}

footer ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li
{   
    width: 24%;
    display: inline-block;
}
footer ul li a
{
    color: white;
    font-size: 19px;
}
footer ul li a:hover
{
    color: wheat;
    font-weight: bold;
}
.copyright
{
    margin-top: 10px;
}

@media only screen and (max-width: 800px) 
{
    .logo
    {
        display: block;
    }

    .img_theme
    {
        display: none;
    }
    .form_container
    {
        float: none;
        min-width: 100%;
        width: 100%;
        overflow: auto;
    }
    footer
    {
        width: 100%;
    }
}

@media only screen and (max-height: 600px) 
{
    footer ul
    {
        display: none;
    }
}
@media only screen and (max-width: 400px) 
{
    .login_container, .signup_container
    {
        width: 100%;
    }
}