.c1-profile
{
    text-align: center;
}
.c1-profile .name-font
{
    font-size: 30px;
    font-weight: bold;
}
.p-img
{
    background-color: black;
    color: white;
    height: 300px;
    top: 15px;
    display:none;
}
.c1-profile img,.p-img
{
    margin: 15px;
    width: 300px;
    border-radius: 155px;
}
.c1-profile img:hover span.p-img
{
    display: block;
}
.c1-profile table
{
    margin:0 auto;
    padding: 8px;
}
.c1-profile table td
{
    padding: 8px;
}
.c1-profile table td p
{
    font-weight: bold;
}
.bio
{
    padding: 15px;
}
