.video-list
{
    overflow: auto;
}
.video-list ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.video-list ul li
{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.video-list ul li input
{
    width: 100%;
    padding: 8px 12px;
    border-radius: 15px;
    outline: none;
    box-sizing: border-box;
}
.video-list ul li img
{
    width: 150px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 50%;
}
.video-list ul li div.video-id:hover
{
    background-color: #76ff5e21;
    cursor: pointer;
    font-weight: bold;
}
.video-player
{
    margin-top: 20px;
}

.video-player video
{
    width: 100%;
    box-sizing: border-box;
}
.video-info
{
    width: 100%;
    box-sizing: border-box;
}
.video-title, .video-d-show
{
    font-size: 25px;
    display: inline-block;
    height: 70px;
}
.video-title
{
    width: 95%;
    float: left;
}
.video-d-show
{
    width: 5%;
    float: right;
}
.video-d-show img
{
    width: 18px;
}
.video-d-show button
{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
}
.video-d-show button:hover .video-d-show img{width: 20px;}
.video-d-show button:hover
{
    cursor: pointer;
}
.owner-video
{
    width: 100%;
}
.owner-video .posted-img img
{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
}

.owner-video .posted-name a
{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.post-react
{
    margin: 10px;
    box-sizing: border-box;
    border-top: 2px solid black;
}

.post-react ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.post-react ul li
{
    display: inline-block;
    width: 19%;
    text-align: center;
}
.post-react ul li table
{
    margin: 0 auto;
}
.post-react ul li table img
{
    width: 18px;
    filter: invert(100%);
}
.post-react ul li table img:hover
{
    cursor: pointer;
}
.post-react ul li table td.react-active
{
    display: none;
    background-color: transparent;
}
.post-react ul li table td.react-active img
{
    filter: none;
}
.hide-video
{
    display: none;
}
.show-video
{
    display: block;
    height: 200px;
    -webkit-animation: h;
    -webkit-animation-duration: 0.2s;
}
#d-show
{
    -webkit-animation: o;
    -webkit-animation-duration: 2s;
}
@keyframes h {
    from{height: 0;}
    to{height: 200px;}
}
@keyframes o {
    from{opacity: 0;}
    to{opacity: 1;}
}