{% extends 'home.html' %}
{% block bodyloader %}
    <body>
{% endblock %}
{% block sidemenudiv %}
{% load static %}
<div class="chating">
  <div class="search_names">
    <input type="search" placeholder="Search...">
  </div>
  <div class="name_for_chat">
    <ul>
      <li>
        <table>
          <td>
            <img src="{% static 'img/defaultpp.jpg' %}"
          </td>
          <td>
            Harry Maguire<br>
            <p class="msg_preview">Hello there how are you? Hope you're doing good. When are we meeting</p>
          </td>
        </table>
      </li>

        <li>
          <table>
            <td>
              <img src="{% static 'img/defaultpp.jpg' %}"
            </td>
            <td>
              Harry Maguire<br>
              <p class="msg_preview">Hello there how are you? Hope you're doing good. When are we meeting</p>
            </td>
          </table>
        </li>

          <li>
            <table>
              <td>
                <img src="{% static 'img/defaultpp.jpg' %}"
              </td>
              <td>
                Harry Maguire<br>
                <p class="msg_preview">Hello there how are you? Hope you're doing good. When are we meeting</p>
              </td>
            </table>
          </li>

            <li>
              <table>
                <td>
                  <img src="{% static 'img/defaultpp.jpg' %}"
                </td>
                <td>
                  Harry Maguire<br>
                  <p class="msg_preview">Hello there how are you? Hope you're doing good. When are we meeting</p>
                </td>
              </table>
            </li>

              <li>
                <table>
                  <td>
                    <img src="{% static 'img/defaultpp.jpg' %}"
                  </td>
                  <td>
                    Harry Maguire<br>
                    <p class="msg_preview">Hello there how are you? Hope you're doing good. When are we meeting</p>
                  </td>
                </table>
              </li>
    </ul>
  </div>
</div>
{% endblock %}
{% block leftfeed %}
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ room_name|json_script:"room-name" }}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chatbox/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>

{% endblock %}

<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/newsfeed.js' %}"></script>
