{% extends 'home.html' %}
{% block bodyloader %}
<body onload="other_loader()">
{% endblock %}
{% block sidemenudiv %}
{% load static %}
<div class="chating" style="overflow-y: scroll;">
  <div class="search_names">
    <input type="search" placeholder="Search..." id="search-message-user">
  </div>
  <div class="name_for_chat">
    <ul id="this--UL">
      {% for i in others%}
        <input type="hidden" class="follow_pk" name="follow_pk" value="{{i.pk}}">
        <li onclick="window.open('chatbox/{{i.first_name}}{{i.last_name}}?query={{i.id}}', '_self')"  id="names-msg-{{i.pk}}">
            <table>
            {% for bio in userdata %}
            {% if bio.owner_id == i.pk %}
            {% if bio.profile_pic != '' %}
            <td class="sp-pp"><img src="media/{{bio.profile_pic}}" width="50" height="50"></td>
            {% else %}
            <td class="sp-pp"><img src="{% static 'img/defaultpp.jpg' %}"></td>
            {% endif %}
            {% endif %}
            {% endfor %}
              <td class="sp-name">{{i.first_name}} {{i.last_name}}</td>
            </table>
        </li>
        {% endfor %}
    </ul>
  </div>
</div>
<script>
  document.getElementById('search-message-user').onkeyup = function()
  {
    var filter = document.getElementById('search-message-user').value.toUpperCase();

    var ul = document.getElementById('this--UL');
    var li = ul.getElementsByTagName('li');
    for(var i=0; i<li.length;i++)
    {
        var table = li[i].getElementsByTagName('table');
        var td = table[0].getElementsByTagName('td')[1];
        var tex = td.innerText;
        console.log(tex.toUpperCase().indexOf(filter));
        if (tex.toUpperCase().indexOf(filter) > -1)
        {
            li[i].style.display="";
        }
        else
        {
            li[i].style.display='none';
        }
    }
  }
</script>
{% endblock %}

{% block searrrrr %}
  
<script>
  console.log(window.location.pathname);
</script>
   <div class="chatbox_container">
    <div class="chat-with">
      <table>
        <td><img src="{% static 'img/defaultpp.jpg' %}"></td>
        <td>Harry Maguire</td>
      </table>
    </div>
    <div class="chat_here" id="chat_here_div">
      <div class="sender">
        <div class="msg-div-sender">
          <div class="sender-img">
            <img src="{% static 'img/defaultpp.jpg' %}">
          </div>
          <div class="sender-msg">
            Hello there how are you? Hope you're doing good. When are we meeting.Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
          </div>
        </div>
      </div>
      <div class="you-sent">
        <div class="msg-div-you-sent">
          <div class="you-sent-img">
            <img src="{% static 'img/defaultpp.jpg' %}">
          </div>
          <div class="you-sent-msg">
            Hello there how are you? Hope you're doing good. When are we meeting.Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
          </div>
        </div>
      </div>
      <div class="sender">
        <div class="msg-div-sender">
          <div class="sender-img">
            <img src="{% static 'img/defaultpp.jpg' %}">
          </div>
          <div class="sender-msg">
            Hello there how are you? Hope you're doing good. When are we meeting.Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
          </div>
        </div>
      </div>
      <div class="you-sent">
        <div class="msg-div-you-sent">
          <div class="you-sent-img">
            <img src="{% static 'img/defaultpp.jpg' %}">
          </div>
          <div class="you-sent-msg">
            Hello there how are you? Hope you're doing good. When are we meeting.Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
          </div>
        </div>
      </div>
      <div class="sender">
        <div class="msg-div-sender">
          <div class="sender-img">
            <img src="{% static 'img/defaultpp.jpg' %}">
          </div>
          <div class="sender-msg">
            Hello there how are you? Hope you're doing good. When are we meeting.Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
          </div>
        </div>
      </div>
      <div class="you-sent">
        <div class="msg-div-you-sent">
          <div class="you-sent-img">
            <img src="{% static 'img/defaultpp.jpg' %}">
          </div>
          <div class="you-sent-msg">
            Hello there how are you? Hope you're doing good. When are we meeting.Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
          </div>
        </div>
      </div>
      <div class="sender">
        <div class="msg-div-sender">
          <div class="sender-img">
            <img src="{% static 'img/defaultpp.jpg' %}">
          </div>
          <div class="sender-msg">
            Hello there how are you? Hope you're doing good. When are we meeting.Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
          </div>
        </div>
      </div>
      <div class="you-sent">
        <div class="msg-div-you-sent">
          <div class="you-sent-img">
            <img src="{% static 'img/defaultpp.jpg' %}">
          </div>
          <div class="you-sent-msg">
            Hello there how are you? Hope you're doing good. When are we meeting.Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
          </div>
        </div>
      </div>
      <div class="sender">
        <div class="msg-div-sender">
          <div class="sender-img">
            <img src="{% static 'img/defaultpp.jpg' %}">
          </div>
          <div class="sender-msg">
            Hello there how are you? Hope you're doing good. When are we meeting.Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
          </div>
        </div>
      </div>
      <div class="you-sent">
        <div class="msg-div-you-sent">
          <div class="you-sent-img">
            <img src="{% static 'img/defaultpp.jpg' %}">
          </div>
          <div class="you-sent-msg">
            Hello there how are you? Hope you're doing good. When are we meeting.Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
          </div>
        </div>
      </div>
      
    </div>
    <div class="write-msg">
        <div class="msg-put">
          <form class="form-message-deliver">
            <input type="text" placeholder="Write message" id="msg-here-text" autocomplete="off">
            <input type="submit" class="message-to-deliver" style="display: none;">
          </form>
          <script>
            $('.chat_here_div').scrollTop($('#chat_here_div')[0].scrollHeight);
            $('.message-to-deliver').keypress(function(e)
            {
              if(e.which==13)
              {
                $('.form-message-deliver').submit();
                return false;
              }
            });
          </script>
        </div>
        <div class="emoji-put">
            <img src="{% static 'icon/smiley.png' %}" class="emdisp" onclick="smileyshow()">
            <div id="emobox" class="emo-box"></div>
            <script src="{% static 'js/chatbox.js' %}"></script>
        </div>
    </div>
  </div>
</div>
{% endblock %}
