{% extends 'home.html' %}
{% block bodyloader %}
<body onload="other_loader()">
{% endblock %}
{% block sidemenudiv %}
{% load static %}
<div class="chating">
  <div class="search_names">
    <input type="search" placeholder="Search...">
  </div>
  <div class="name_for_chat">
    <ul>
      {% for i in others%}
        <input type="hidden" class="follow_pk" name="follow_pk" value="{{i.pk}}">
        <li>
            <table>
            {% for bio in userdata %}
            {% if bio.owner_id == i.pk %}
            {% if bio.profile_pic != '' %}
            <td class="sp-pp"><img src="media/{{bio.profile_pic}}" width="50" height="50"></td>
            {% else %}
            <td class="sp-pp"><img src="{% static 'img/defaultpp.jpg' %}"></td>
            {% endif %}
            {% endif %}
            {% endfor %}
              <td class="sp-name"><a href="chatbox/?query={{i.id}}">{{i.first_name}} {{i.last_name}}</a></td>
            </table>
        </li>
        {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{% block leftfeed %}
<div class="left-feed">
  <div class="chatbox_container">
    <div class="chat-with">
      <table>
        <td><img src="{% static 'img/defaultpp.jpg' %}"></td>
        <td>Harry Maguire</td>
      </table>
    </div>
    <div class="chat_here">
        <div class="sender">
          <div class="sender-img">
            <img src="{% static 'img/defaultpp.jpg' %}">
          </div>
          <div class="sender-msg">
            Hello there how are you? Hope you're doing good. When are we meeting.Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
            Hello there how are you? Hope you're doing good. When are we meeting
          </div>
        </div>
        <div class="you-sent">
            <div class="you-sent-img">
              <img src="{% static 'img/defaultpp.jpg' %}">
            </div>
            <div class="you-sent-msg">
              Hello there how are you? Hope you're doing good. When are we meeting.Hello there how are you? Hope you're doing good. When are we meeting
              Hello there how are you? Hope you're doing good. When are we meeting
              Hello there how are you? Hope you're doing good. When are we meeting
              Hello there how are you? Hope you're doing good. When are we meeting
            </div>
        </div>
      </div>
    <div class="write-msg">
        <div class="msg-put">
            <textarea placeholder="Write message" id="msg-here-text"></textarea>
        </div>
        <div class="emoji-put">
            <img src="{% static 'icon/smiley.png' %}" class="emdisp" onclick="smileyshow()">
            <div id="emobox" class="emo-box"></div>
            <script src="{% static 'js/chatbox.js' %}"></script>
        </div>
    </div>
  </div>
</div>

{% endblock %}
<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/newsfeed.js' %}"></script>
