<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/complete.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <title>Spotster</title>
        <link rel="icon" href="{% static 'img/icon.png' %}">
    </head>
    <body>
        <div class="bodybg" style="background: url('{% static 'img/theme.png' %}') no-repeat; background-size: 100%;"></div>
        <div class="mobile" style="background: url('{% static 'img/mobiletheme.png' %}') no-repeat; background-size: 100%;"></div>


        <!-- 2 div -->
        <div class="container-complete">
            <div class="logo">
                <b>Spotster</b>
            </div>
            <form action="newsfeed" method="post" enctype='multipart/form-data'>{% csrf_token %}
                <div id="interest-first">
                    Choose Profile Picture:
                    <div class="c1-profile">
                        <div class="bg-pp" id="bg-ppp">
                            <img class="back-op" src="{% static 'img/defaultpp.jpg' %}" id="defpp">
                            <label class="pp-chg" for="picupload"><img class="camera" src="{% static 'icon/camera.png' %}"></label>
                            <input type="file" id="picupload" name="image">
                        </div>

                        {% for i in user %}
                        <b style="padding: 10px;">{{i.first_name}} {{i.last_name}}</b>
                        {% endfor %}
                    </div>
                    <div class="bio-complete">
                        Bio:
                        <textarea placeholder="Bio..." name="bio"></textarea>
                    </div>
                </div>
                <div id="interest-complete">
                    What's your interest?
                    <div id="s-interest">
                        <input type="search" placeholder="Search interest">
                    </div>
                    <div id="l-interest" style="height: 380px;">
                        {% for i in interest %}
                        <div style="display:inline-block; padding:5px;background-color:#DAD7D6;border-radius:20px; height:40px; width:150px; margin-bottom:10px;">
                            <span><input type="checkbox" name="interest" value="{{i.my_interest}}">{{i.my_interest}}</span>
                            <img src="media/interest_icon/{{i.my_interest}}.png" height="30" width="30" style="border-radius:50%; background-color:black; padding:5px;float:right;">
                        </div>
                        {% endfor %}
                    </div>
                    <input type="submit" value="SAVE" class="next-complete">
                </div>
            </form>
            <button class="back-complete" onclick="complete_back()" id="back-btn">BACK</button>
            <button class="next-complete" onclick="complete_next()" id="next-btn">Next</button>
        </div>
    </body>
    <!-- footer -->
    <div class="footer">
        All Right Reserved
    </div>
    <script src="{% static 'js/complete.js' %}"></script>
    <script src="{% static 'js/newsfeed.js' %}"></script>
</html>