<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Spotser</title>
        <link rel="icon" href="{% static 'img/icon.png' %}">
    </head>
    <link rel="stylesheet" href="{% static 'css/newsfeed.css' %}">
    <link rel="stylesheet" href="{% static 'css/discover.css' %}">

    <body onload="loader_discover()">
        <div class="homepage">
            <!-- header import -->
            {% include 'header.html' %}
            
            <!-- 3 divs -->
            <div class="container_newsfeed not-loaded" id="div-loaded">

                <!-- 1st div -->
                <div class="container1">
                    {% include '1_container.html' %}
                </div>

                <!-- 2nd div -->
                <div class="container2">
                    <!-- interest-story -->
                    <div class="i-story">
                        <div class="story">
                            <figure>
                                <img src="{% static 'interest/cycle.png' %}">
                                <img src="{% static 'interest/football.png' %}">
                                <img src="{% static 'interest/swim.png' %}">
                                <img src="{% static 'interest/dance.png' %}">
                                <img src="{% static 'interest/hiking.png' %}">
                                <img src="{% static 'interest/art.png' %}">
                                <img src="{% static 'interest/writing.png' %}">
                                <img src="{% static 'interest/singing.png' %}">
                                <img src="{% static 'interest/riding.png' %}">
                                <img src="{% static 'interest/reading.png' %}">
                                <img src="{% static 'interest/gaming.png' %}">
                                <img src="{% static 'interest/cycle.png' %}">
                                <img src="{% static 'interest/football.png' %}">
                                <img src="{% static 'interest/swim.png' %}">
                                <img src="{% static 'interest/dance.png' %}">
                                <img src="{% static 'interest/hiking.png' %}">
                                <img src="{% static 'interest/art.png' %}">
                                <img src="{% static 'interest/writing.png' %}">
                                <img src="{% static 'interest/singing.png' %}">
                                <img src="{% static 'interest/riding.png' %}">
                                <img src="{% static 'interest/reading.png' %}">
                                <img src="{% static 'interest/gaming.png' %}">
                                <img src="{% static 'interest/cycle.png' %}">
                                <img src="{% static 'interest/football.png' %}">
                                <img src="{% static 'interest/swim.png' %}">
                                <img src="{% static 'interest/dance.png' %}">
                                <img src="{% static 'interest/hiking.png' %}">
                                <img src="{% static 'interest/art.png' %}">
                                <img src="{% static 'interest/writing.png' %}">
                                <img src="{% static 'interest/singing.png' %}">
                                <img src="{% static 'interest/riding.png' %}">
                                <img src="{% static 'interest/reading.png' %}">
                                <img src="{% static 'interest/gaming.png' %}">
                                <img src="{% static 'interest/cycle.png' %}">
                                <img src="{% static 'interest/football.png' %}">
                                <img src="{% static 'interest/swim.png' %}">
                                <img src="{% static 'interest/dance.png' %}">
                                <img src="{% static 'interest/hiking.png' %}">
                                <img src="{% static 'interest/art.png' %}">
                                <img src="{% static 'interest/writing.png' %}">
                                <img src="{% static 'interest/singing.png' %}">
                                <img src="{% static 'interest/riding.png' %}">
                                <img src="{% static 'interest/reading.png' %}">
                                <img src="{% static 'interest/gaming.png' %}">
                                <img src="{% static 'interest/cycle.png' %}">
                                <img src="{% static 'interest/football.png' %}">
                                <img src="{% static 'interest/swim.png' %}">
                                <img src="{% static 'interest/dance.png' %}">
                                <img src="{% static 'interest/hiking.png' %}">
                                <img src="{% static 'interest/art.png' %}">
                                <img src="{% static 'interest/writing.png' %}">
                                <img src="{% static 'interest/singing.png' %}">
                                <img src="{% static 'interest/riding.png' %}">
                                <img src="{% static 'interest/reading.png' %}">
                                <img src="{% static 'interest/gaming.png' %}">
                            </figure>
                        </div>
                    </div>

                    <div class="c2">
                        <div style="overflow: hidden;">
                            <div class="c2-post">
                                <p>Suggested People</p>
                                <div class="suggested-people">
                                    <table>
                                        <tr><td><img src="{% static 'img/defaultpp.jpg' %}"></td></tr>
                                        <tr><td>Rusan Vaidya</td></tr>
                                        <tr><td><button id="u1" onclick="document.getElementById('u1').innerHTML='Following'; document.getElementById('u1').style.background='white'; document.getElementById('u1').style.color='grey'; document.getElementById('u1').style.border='2px solid grey';">Follow</button></td></tr>
                                    </table>
                                </div>
                                <div class="suggested-people">
                                    <table>
                                        <tr><td><img src="{% static 'img/defaultpp.jpg' %}"></td></tr>
                                        <tr><td>Rusan Vaidya</td></tr>
                                        <tr><td><button id="u2" onclick="document.getElementById('u2').innerHTML='Following'; document.getElementById('u2').style.background='white'; document.getElementById('u2').style.color='grey'; document.getElementById('u2').style.border='2px solid grey';">Follow</button></td></tr>
                                    </table>
                                </div>
                                <div class="suggested-people">
                                    <table>
                                        <tr><td><img src="{% static 'img/defaultpp.jpg' %}"></td></tr>
                                        <tr><td>Rusan Vaidya</td></tr>
                                        <tr><td><button id="u3" onclick="document.getElementById('u3').innerHTML='Following'; document.getElementById('u3').style.background='white'; document.getElementById('u3').style.color='grey'; document.getElementById('u3').style.border='2px solid grey';">Follow</button></td></tr>
                                    </table>
                                </div>
                                <div class="suggested-people">
                                    <table>
                                        <tr><td><img src="{% static 'img/defaultpp.jpg' %}"></td></tr>
                                        <tr><td>Rusan Vaidya</td></tr>
                                        <tr><td><button id="u4" onclick="document.getElementById('u4').innerHTML='Following'; document.getElementById('u4').style.background='white'; document.getElementById('u4').style.color='grey'; document.getElementById('u4').style.border='2px solid grey';">Follow</button></td></tr>
                                    </table>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 3rd div -->
                <div class="container3">
                    {% include '2_container.html' %}
                </div>
                
            </div>
        </div>
    </body>
</html>
<script src="{% static 'js/header.js' %}"></script>