{% extends 'home.html' %}
{% block bodyloader %}
<body onload="loader_discover()">
{% endblock %}
{% block leftfeed %}
{% load static %}
<div class="left-feed">
    {% block follow %}
    <div class="topic">
        Find Friends Near You :
    </div>
    <div class="locate_filter">
        <form method ='POST' action='get_search'>
            {% csrf_token %}
            <label for="find_users_interested">Interests:</label>
            <select id="find_users_interested" name='interest'>
                <option disabled selected>Choose Interest</option>
                {% for i in interests %}
                <option>{{i}}</option>
                {% endfor %}
            </select>
            <label for="distance">Distance:</label>
            <input type="range" max="100" min="0" id="loc_km_ip" value="0" class="slider" name='distance'>
            <div><span id="loc_km"></span> km.</div>
            <script>
                
                var e= document.getElementById('find_users_interested')
                e.onchange=function(){
                    
                    var dist=document.getElementById('loc_km_ip')}
            
                document.getElementById('loc_km').innerHTML = document.getElementById('loc_km_ip').value
                document.getElementById('loc_km_ip').onchange = function()
                {
                    document.getElementById('loc_km').innerHTML = document.getElementById('loc_km_ip').value;   
                }
            </script>
            <div>
                <input type="submit" value="Search" class="new_f_search" style="background-color: #2d7b20;">
            </div>
        </form>
    </div>
    <div class="topic">
     People Near You :
    </div>
    <div class="people-list">
        <ul>
            {% for data in u_data %}
            {% for i in data %}
            <form class="un_follow{{i.id}}" action="discover_more" method="post" id="discover-{{i.pk}}">{% csrf_token %}
                <input type="hidden" class="follow_pk" name="follow_pk" value="{{i.pk}}">
                <li>
                    <table>
                        {% for bio in userdata %}
                        {% if bio.owner_id == i.pk %}
                        {% if bio.profile_pic != '' %}
                        <td class="sp-pp"><img src="media/{{bio.profile_pic}}" height="50" width="50"></td>
                        {% else %}
                        <td class="sp-pp"><img src="{% static 'img/defaultpp.jpg' %}"></td>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <td class="sp-name">{{i.first_name}} {{i.last_name}}</td>
                        <td class="sp-button">
                            {% if i in others%} 
                            <button type="submit" id="un_show{{i.pk}}" class="side-after follow-{{i.id}}">Following</button>
                            {% else %}
                            <button type="submit" class="side-r follow-{{i.id}}">Follow</button>
                            {% endif %}
                        </td>
                    </table>
                </li>
            </form>
            <script>
                $('.un_follow{{i.id}}').submit(function(e){
                    e.preventDefault()
            
                    const followText = $(`.follow-{{i.id}}`).text()
                    const trim = $.trim(followText)
                    const url =$(this).attr('action')
                    console.log(trim + url)
                    // var count_following = parseInt($(`#following-count`).text())
            
                    $.ajax({
                        type:'POST',
                        url : url,
                        data:{
                        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                        'follow_pk': `{{i.id}}`
                        },
                        success:function(response){
                        if (trim === 'Follow'){
                            $(`.follow-{{i.id}}`).text('Following')
                        } else {
                            $(`.follow-{{i.id}}`).text('Follow')
                        }
                        },
                        error:function(response){
                        console.log('error',response)
                        }
                        });
            
            
                });
                </script>
                
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
<script src="{% static 'js/header.js' %}"></script>
{% endblock %}
{% endblock %}
