{% extends 'discover.html'%}
{% load static %}
{% block follow %}
                    <div class="c2">
                        <div style="overflow: hidden;">
                            <div class="c2-post">
                                <p>Followers({{count}})</p>
                                <div class="suggested-people">

                                        {% for i in followers%}
                                        <div style="display:inline-block;margin-right:-10px;margin-top:10px;">

                                        <table>
                                        <form class="un-follow" action="{% url 'discover_more' %}" method="post" id="{{i.pk}}">{% csrf_token %}

                                                <input type="hidden" class="follow_pk" name="follow_pk" value="{{i.pk}}">
                                            {% for bio in userdata %}
                                            {% if bio.owner_id == i.pk %}
                                                {% if bio.profile_pic != '' %}
                                                    <tr><td><img src="media/{{bio.profile_pic}}" width="50" height="50"></td></tr>
                                                    {% else %}
                                                    <tr><td><img src="{% static 'img/defaultpp.jpg' %}"></td></tr>

                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                            <tr><td>{{i.first_name}} {{i.last_name}}</td></tr>
                                        {% if i in others%}
                                            <tr><td><button type="submit" style="background-color:red; border-radius:3px;" class="follow{{i.pk}}">
                                                UnFollow
                                            </button></td></tr>
                                        {% else %}
                                        <tr><td><button type="submit" class="follow{{i.pk}}">
                                            Follow
                                        </button></td></tr>

                                        {% endif %}
                                            </form>
                                            </table>
                                        </div>
                                        {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}