{% extends 'home.html' %}
{% block bodyloader %}
    <body onload="loader_feed()">
{% endblock %}
{% block leftfeed %}
{% load static %}
<div class="left-feed">
    <div class="interests-bar" id="ib">
        <figure>
            {% for i in interest %}
            <img src="../media/Interest_icon/{{i.my_interest}}.png">
            {% endfor %}
        </figure>
    </div>

    <div class="new-posting-div">
        <div class="new-pd">
            <div class="pd-text">
                <table>
                    {% if mydetials.profile_pic != '' %}
                    <td class="new-poster"><img src="media/{{mydetials.profile_pic}}"></td>
                    {% else %}
                    <td class="new-poster"><img src="{% static 'img/defaultpp.jpg' %}"></td>
                    {% endif %}
                    <td class="poster-div"><div class="new-idea" onclick="post_area()">What's your idea today...</div></td>
                </table>
            </div>
            <div class="new-buttons">
                <label class="new-btns" for="fileupload" style="text-align: center;" onclick="post_area()">
                    <table><td><img src="{% static 'icon/photo.png' %}"></td><td class="post-opt"></td></table>
                </label>
                <div class="new-btns" onclick="post_venue()">
                        <table><td><img src="{% static 'icon/venue.png' %}"></td><td class="post-opt"></td></table>
                </div>
                <div class="new-btns" onclick="post_feeling()">
                    <table><td><img src="{% static 'icon/feeling.png' %}"></td><td class="post-opt"></td></table>
                </div>
            </div>
        </div>
        <div id="new_post_modal">
            <div class="modal">
                <div class="modaltop">
                    <div class="modalheader">
                        <p id="modal-title">Create Post</p>
                        <div id="title-back"><button onclick="post_area()"><table><td><img src="{% static 'icon/back.png' %}"></td><td>Back</td></table></button></div>
                    </div>
                    <div class="closebutton">
                        <span onclick="document.getElementById('new_post_modal').style.display='none';">&times;</span>
                    </div>
                </div>
                <div class="new_post">
                    <div id="post-create">
                        <div class="posting-user">
                            {% for i in user %}
                            <table>
                            {% if mydetials.profile_pic != '' %}
                                <td class="posted-img"><img class="back-op" src="media/{{mydetials.profile_pic}}">
                            {% else %}
                                <td class="posted-img"><img class="back-op" src="{% static 'img/defaultpp.jpg' %}"></td>
                            {% endif %}
                                <td style="font-weight: bold; font-size: 13px;">{{i.first_name}} {{i.last_name}}</td>
                                <td id="feeling-label"></td>
                                <td id="feeling-emoji"></td>
                            </table>
                            {% endfor %}
                        </div>
                        <form  action="content_post" enctype="multipart/form-data" method="post">{% csrf_token %}
                        <div class="caption-write">
                            <input type="text" id="f-label" style="display: none;" name="feeling">
                            <input type="text" id="f-img-tag" style="display: none;" name="emoji">
                            <textarea placeholder="What's your idea today..." name="content"></textarea>
                        </div>
                        <div class="img-div" id="preview-img">
                        </div>
                        <div class="new-btn-modal">
                            <label class="new-btns-m" for="fileupload" style="text-align: center;">
                                <img src="{% static 'icon/photo.png' %}">
                                <input type="file"  id="fileupload" multiple="multiple" name="ufiles">
                            </label>
                            <div class="new-btns-m" onclick="post_venue()">
                                    <img src="{% static 'icon/venue.png' %}">
                            </div>
                            <div class="new-btns-m" onclick="post_feeling()">
                                <img src="{% static 'icon/feeling.png' %}">
                            </div>
                        </div>
                        <div class="post-submit">
                            <input type="submit" value="POST">
                        </div>
                        </form>
                    </div>
                    <div id="venue-create">
                        <button onclick="a_1()"><table><td><img src="{% static 'activity/event.png' %}"></td><td>Organizing Event</td></table></button>
                        <button onclick="a_2()"><table><td><img src="{% static 'activity/calender.png' %}"></td><td>Going to an Event</td></table></button>
                        <button onclick="a_3()"><table><td><img src="{% static 'activity/birthday.png' %}"></td><td>Celebrating Birthday</td></table></button>
                        <button onclick="a_4()"><table><td><img src="{% static 'activity/celebrating.png' %}"></td><td>Celebrating Occasion</td></table></button>
                        <button onclick="a_5()"><table><td><img src="{% static 'activity/festival.png' %}"></td><td>Celebrating Festival</td></table></button>
                        <button onclick="a_6()"><table><td><img src="{% static 'activity/movie.png' %}"></td><td>Watching Movie</td></table></button>
                        <button onclick="a_7()"><table><td><img src="{% static 'activity/travelling.png' %}"></td><td>Travelling</td></table></button>
                    </div>
                    <div id="feeling-create">
                        <button onclick="feeling_h()"><table><td><img src="{% static 'emoji/043-happy.png' %}"></td><td>Happy</td></table></button>
                        <button onclick="feeling_s()"><table><td><img src="{% static 'emoji/011-bored.png' %}"></td><td>Sad</td></table></button>
                        <button onclick="feeling_e()"><table><td><img src="{% static 'emoji/047-shining.png' %}"></td><td>Excited</td></table></button>
                        <button onclick="feeling_sick()"><table><td><img src="{% static 'emoji/034-sick.png' %}"></td><td>Sick</td></table></button>
                        <button onclick="feeling_w()"><table><td><img src="{% static 'emoji/031-saint.png' %}"></td><td>Wonderful</td></table></button>
                        <button onclick="feeling_crazy()"><table><td><img src="{% static 'emoji/046-crazy.png' %}"></td><td>Crazy</td></table></button>
                        <button onclick="feeling_a()"><table><td><img src="{% static 'emoji/037-angry.png' %}"></td><td>Angry</td></table></button>
                        <button onclick="feeling_t()"><table><td><img src="{% static 'emoji/003-tired.png' %}"></td><td>Tired</td></table></button>
                        <button onclick="feeling_afraid()"><table><td><img src="{% static 'emoji/021-afraid.png' %}"></td><td>Afraid</td></table></button>
                        <button onclick="feeling_d()"><table><td><img src="{% static 'emoji/024-dissapointment.png' %}"></td><td>Dissapointed</td></table></button>
                        <button onclick="feeling_i()"><table><td><img src="{% static 'emoji/039-observing.png' %}"></td><td>Insightful</td></table></button>
                        <button onclick="feeling_c()"><table><td><img src="{% static 'emoji/018-confused.png' %}"></td><td>Confused</td></table></button>
                        <button onclick="feeling_surprised()"><table><td><img src="{% static 'emoji/010-surprised.png' %}"></td><td>Surprised</td></table></button>
                        <button onclick="feeling_n()"><table><td><img src="{% static 'emoji/020-nerd.png' %}"></td><td>Nerd</td></table></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%for post in posts%}
    {% for p in pu %}
    {% if p.id == post.author_id %}

    <div class="feedsocket">
        <div class="feedpost">
            <div class="user-who-posted">
                <div class="u-name">
                    <table>
                        {% for bio in userdata %}
                        {% if bio.owner_id == post.author_id %}
                        {% if bio.profile_pic != '' %}
                        <td><img src="media/{{bio.profile_pic}}"></td>
                        {% else %}
                        <td><img src="{% static 'img/defaultpp.jpg' %}"></td>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <td class="u-fullname"><a href="view_profile?id={{p.id}}">{{p.first_name}} {{p.last_name}}</a></td>
                        {% if post.emoji != '' %}
                        <td>{{post.feeling}}</td>
                        <td class="femoji"><img src='/static/{{post.emoji}}'></td>
                        {% endif %}
                    </table>
                </div>
                <div class="u-edit">
                    <img src="{% static 'icon/dropdown.png' %}" id="ab-img-{{post.id}}" class="post-drop">
                    <div class="about-post" id="ap-{{post.id}}">
                        <ul>
                            {% if post.author_id == mydetials.owner_id %}
                                <li><button onclick="document.getElementById('edit-this-{{post.id}}').style.display='block'">Edit this post</button></li>
                                <li><button onclick="document.getElementById('del-warn{{post.id}}').style.display='block'">Delete this post</button></li>
                            {% endif %}
                                
                            {% if post.author_id != mydetials.owner_id %}
                            <form class="save-post" method="post" action="saved_post" id="save{{post.id}}"> {% csrf_token %}
                                <input type="hidden" name="userid" class="userid" value="{{mydetials.owner_id}}">
                                <input type="hidden" name="postid" class="postid" value="{{post.id}}">
                            <li>
                            <button type="submit">Save this post</button></li>
                            </form>
                            <form class="flag-post" method="post" action="flag_post" id="flag{{post.id}}"> {% csrf_token %}
                            <input type="hidden" name="userid" value="{{mydetials.owner_id}}">
                            <input type="hidden" name="postid" value="{{post.id}}">
                            <li><button type="submit">Flag inappropriate</button></li>
                            </form>
                            <li><button>Block {{p.first_name}} {{p.last_name}}</button></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="view-posted-content" id="del-warn{{post.id}}">
                        <div class="warning">
                            <div>
                                <h1>Are you sure you want to delete this post?</h1>
                            </div>
                            <div>
                                {% if post.author_id == mydetials.owner_id %}
                                <form class="delete-post" method="post" action="delete_post" id="delete{{post.id}}"> {% csrf_token %}
                                    <input type="hidden" name="userid" value="{{mydetials.owner_id}}">
                                    <input type="hidden" name="postid" value="{{post.id}}">
                                <button class="delbtn" type="submit">Yes</button>
                                </form>
                                <button onclick="document.getElementById('del-warn{{post.id}}').style.display='none'">No</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var post_about = document.getElementById('ab-img-{{post.id}}')
                    post_about.onclick = function()
                    {
                        document.getElementById('ap-{{post.id}}').classList.toggle('show');
                    }
                </script>
            </div>
            <div class="time-post">{{post.created}}</div>
            <div class="caption" id='capt-{{post.id}}'>{{post.usercontent}}</div>
            <script>
                var linking = document.getElementById("capt-{{post.id}}").innerHTML; 
                var repl=linking.replace(/#(\w+)/g, "<a href='trending' style='color: wheat; font-size:20px;'>#$1</a>");
                document.getElementById('capt-{{post.id}}').innerHTML=repl
            </script>
            <div id="{{post.id}}" style="display:none">{{post.userfile}}</div>
            <div class="postedimg" id="new{{post.id}}">
                <video src="media/{{post.userfile}}" controls id='vid_spo{{post.id}}' width="100%" height="100%"></video>
                <img src="media/{{post.userfile}}" id='img_spo{{post.id}}' onclick="document.getElementById('view-posted-photo{{post.id}}').style.display='block'">
            </div>
            <div id="view-posted-photo{{post.id}}" class="view-posted-content">
                <div class="modal_photo">
                    <div class="closebutton">
                        <span onclick="document.getElementById('view-posted-photo{{post.id}}').style.display='none';" style="color: white;">&times;</span>
                    </div>
                    <div>
                        <img src="media/{{post.userfile}}">
                    </div>
                </div>
            </div>
            <div style="width: 100%;">
                {% if post.num_likes > 0 %}
                <table style="display:inline">
                    <td class="react-act imageClass"><img style="width: 20px" src="{% static 'icon/like.png' %}"></td>
                    <td id="number-{{post.id}}" style="font-size: 20px;">{{post.num_likes}}</td>
                </table>
                {% endif %}
                <script>
                    var count=0
                </script>
                <table style="display: inline;" id="cmnt-count-show{{post.id}}">
                    <td><img src="{% static 'icon/comment.png' %}" style="width: 20px"></td>
                    <td id='count_comment{{post.id}}' style="font-size: 20px;"></td>
                </table>
                {% for item in comments %}
                {% if item.post_id == post.id %}
                <script>
                    count+=1;
                    document.getElementById('count_comment{{post.id}}').innerText=count;
                </script>
                {% endif %}
                {%endfor%}
                
                <script>
                    if(document.getElementById('count_comment{{post.id}}').innerText==0)
                    {
                        document.getElementById('cmnt-count-show{{post.id}}').style.display='none';
                    }
                </script>
            </div>
            <div class="post-react">
                <ul>
                    <li>
                        <form action="like_unlike" method="POST" class='like-form' id='{{post.id}}'>{% csrf_token %}
                            <input type="hidden" name="postid" value="{{post.id}}">

                            <table id="table-like-{{post.id}}" class="tab-like">
                                {% if like_unlike is None %}
                                <td class="react-act imageClass"><img src="{% static 'icon/like-i.png' %}"></td>
                                <td>Like</td><div style="width: 100%;">
                {% if post.num_likes > 0 %}
                <table style="display:inline">
                    <td class="react-act imageClass"><img style="width: 20px" src="{% static 'icon/like.png' %}"></td>
                    <td id="number-{{post.id}}" style="font-size: 20px;">{{post.num_likes}}</td>
                </table>
                {% endif %}
                <script>
                    var count=0
                </script>
                <table style="display: inline;" id="cmnt-count-show{{post.id}}">
                    <td><img src="{% static 'icon/comment.png' %}" style="width: 20px"></td>
                    <td id='count_comment{{post.id}}' style="font-size: 20px;"></td>
                </table>
                {% for item in comments %}
                {% if item.post_id == post.id %}
                <script>
                    count+=1;
                    document.getElementById('count_comment{{post.id}}').innerText=count;
                </script>
                {% endif %}
                {%endfor%}
                
                <script>
                    if(document.getElementById('count_comment{{post.id}}').innerText==0)
                    {
                        document.getElementById('cmnt-count-show{{post.id}}').style.display='none';
                    }
                </script>
            </div>
                                {% endif %}
                               <td>
                                   <button type="submit" value="Like-on-{{post.id}}" id="l10-{{post.id}}" name="like" style="border: none; background: none;">

                                <span class="react-act imageClass" id="like-i-{{post.id}}"><img src="{% static 'icon/like-i.png' %}"></span>
                                <span class="none-react-post react-act active-btn" id="like-a-{{post.id}}"><img src="{% static 'icon/like.png' %}"></span>

                                {% for lk in like_unlike %}

                                {% if lk.post_id == post.id and lk.user_id == mydetials.owner_id %}
                                       {% if lk.value == 'Like' %}
                                    <script>
                                    var status_like = "Like";
                                    var inactive_like = document.getElementById("like-i-{{post.id}}");
                                    if(status_like=="Like")
                                    {
                                        document.getElementById('table-like-{{post.id}}').classList.toggle('like-on-this-post');
                                        document.getElementById('like-a-{{post.id}}').classList.remove('none-react-post');
                                        document.getElementById('like-i-{{post.id}}').classList.toggle('none-react-post');
                                    }
                                     </script>

                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                </button>
                            </td>
                            <td>Like</td>
                        </table>
                    </form>
                    </li>
                    <li>
                        <table class="tab-comment" onclick="document.getElementById('give-comment-{{post.id}}').style.display='block';">
                            <td><img src="{% static 'icon/comment.png' %}"></td>
                            <td>Comment</td>
                        </table>
                    </li>
                </ul>
                <div class="view-posted-content" id="give-comment-{{post.id}}">
                    <div class="modal comment-content">
                        <div class="modaltop">
                            <div class="modalheader">
                                <div class="closebutton">
                                    <span onclick="document.getElementById('give-comment-{{post.id}}').style.display='none';">&times;</span>
                                </div>
                                <table>
                                    {% for bio in userdata %}
                                    {% if bio.owner_id == post.author_id %}
                                    {% if bio.profile_pic != '' %}
                                    <td><img src="media/{{bio.profile_pic}}"></td>
                                    {% else %}
                                    <td><img src="{% static 'img/defaultpp.jpg' %}"></td>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    <td class="u-fullname"><a href="view_profile?id={{p.id}}">{{p.first_name}} {{p.last_name}}</a></td>
                                </table>
                            </div>
                            <div class="feeling-cmnt-section">
                                <table>
                                {% if post.emoji != '' %}
                                    <td>~ {{post.feeling}}</td>
                                    <td class="femoji"><img src='/static/{{post.emoji}}'></td>
                                {% endif %}
                                </table>
                            </div>
                        </div>
                        <div class="caption" id="caption-{{post.id}}">{{post.usercontent}}</div>
                        
                        <div class="cmnt-on-this" id="cmnt-on-this-{{post.id}}">
                            <img src="media/{{post.userfile}}" id="cmnt-on-img-{{post.id}}" onclick="document.getElementById('view-posted-photo{{post.id}}').style.display='block'; document.getElementById('give-comment-{{post.id}}').style.display='none'">
                        </div>
                        <form method="post" action="comment_post">{% csrf_token %}
                            <input type="hidden" name="postid" value="{{post.id}}">
                            <input type="hidden" name="userid" value="{{mydetials.owner_id}}">
                            <div class="view-cmnt">
                                <a href="post_comment?pid={{post.id}}">View all Comments</a>
                            </div>
                            <div class="give-cmnt">
                                <textarea placeholder="Write Comment Here..." name="comment" required></textarea>
                            </div>
                            <div class="submit-cmnt">
                                <input type="submit" value="Comment">
                            </div>
                        </form>
                       
                    </div>
                </div>

                <div class="view-posted-content" id="edit-this-{{post.id}}">
                    <div class="modal comment-content">
                        <div class="modaltop">
                            <div class="modalheader">
                                <div class="closebutton">
                                    <span onclick="document.getElementById('edit-this-{{post.id}}').style.display='none';">&times;</span>
                                </div>
                                <table>
                                    {% for i in user %}
                                    {% if mydetials.profile_pic != '' %}
                                    <td class="new-poster"><img src="media/{{mydetials.profile_pic}}"></td>
                                    {% else %}
                                    <td class="new-poster"><img src="{% static 'img/defaultpp.jpg' %}"></td>
                                    {% endif %}
                                    <td class="u-fullname"><a href="view_profile?id={{p.id}}">{{i.first_name}} {{i.last_name}}</a></td>
                                    {% if post.emoji != '' %}
                                    <td>{{post.feeling}}</td>
                                    <td class="femoji"><img src='/static/{{post.emoji}}'></td>    
                                    {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>

                        <form method="post" action="edit_post">{% csrf_token %}
                            <input type="hidden" name="postid" value="{{post.id}}">
                            <input type="hidden" name="authorid" value="{{mydetials.owner_id}}">
                        <div class="caption-share">
                            <textarea placeholder="Write your thoughts..." name="edit_caption" required>{{post.usercontent}}</textarea>
                        </div>
                        <div class="feeling-cmnt-section border-share-content">
                            <div class="cmnt-on-this" id="share-on-this-{{post.id}}">
                                <img src="media/{{post.userfile}}" id="share-on-img-{{post.id}}" onclick="document.getElementById('view-posted-photo{{post.id}}').style.display='block'; document.getElementById('give-share-{{post.id}}').style.display='none'">
                            </div>
                        </div>

                            <div class="submit-cmnt">
                                <input type="submit" value="Save">
                            </div>
                        </form>

                    </div>
                </div>

                <script>
                    var x=document.getElementById({{post.id}}).innerHTML;

                    var pics = /.(jpeg|jpg|png)$/;
                    var vids = /.(mp4|wmv)/;


                    if (pics.test(x)){
                        document.getElementById('vid_spo{{post.id}}').style.display='none';
                        // document.getElementById('cmnt-on-vid-{{post.id}}').style.display='none';
                        // document.getElementById('share-on-video-{{post.id}}').style.display='none';
                    }
                    else if (vids.test(x)){
                        document.getElementById('img_spo{{post.id}}').style.display='none';
                        document.getElementById('cmnt-on-img-{{post.id}}').style.display='none';
                        document.getElementById('share-on-img-{{post.id}}').style.display='none';
                    }
                    else{
                    document.getElementById('new{{post.id}}').style.display='none';
                    document.getElementById('cmnt-on-this-{{post.id}}').style.display='none';
                    document.getElementById('caption-{{post.id}}').style.height='100px';
                    document.getElementById('share-on-this-{{post.id}}').style.display='none';
                    document.getElementById('share-{{post.id}}').style.height='100px';
                    }
                </script>
                <script>
                    // like
                    var like_b_i = document.getElementById('table-like-{{post.id}}');

                    like_b_i.onclick = function()
                    {
                        document.getElementById('table-like-{{post.id}}').classList.toggle('like-on-this-post');
                        if(document.getElementById('like-i-{{post.id}}').classList.contains('none-react-post'))
                        {
                            document.getElementById('like-i-{{post.id}}').classList.remove('none-react-post');
                            document.getElementById('like-a-{{post.id}}').classList.toggle('none-react-post');
                        }
                        else if(document.getElementById('like-a-{{post.id}}').classList.contains('none-react-post'))
                        {
                            document.getElementById('like-i-{{post.id}}').classList.toggle('none-react-post');
                            document.getElementById('like-a-{{post.id}}').classList.remove('none-react-post');
                        }
                    }
                </script>
            </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}