<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Spotser</title>
        <link rel="icon" href="{% static 'img/icon.png' %}">
    </head>
    <link rel="stylesheet" href="{% static 'css/newsfeed.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <body  onload="loader()">
        <div class="homepage">
            <!-- header import -->
            {% include 'header.html' %}
            
            <!-- 3 divs -->
            <div class="container_newsfeed not-loaded" id="div-loaded">
                <div class="container1">
                    <!-- profile picture -->
                    <div class="c1-profile">
                        <img src="{% static 'img/defaultpp.jpg' %}">
                    </div>
                    <!-- name -->
                    <div class="c1-profile">
                        <b class="name-font">Rusan Vadiya</b>
                    </div>
                    <!-- follower/following -->
                    <div class="c1-profile">
                        <table>
                            <td>
                                0 <br><p>Followers</p>
                            </td>
                            <td>
                                0 <br><p>Following</p>
                            </td>
                        </table>
                    </div>
                    <!-- bio -->
                    <div class="c1-profile">
                        <div class="bio">
                            football gamer
                        </div>
                    </div>
                    <!-- edit profile -->
                    <div class="c1-profile">
                        <div class="edit-p">
                            <button>Edit Profile</button>
                        </div>
                    </div>
                </div>
                <div class="container2">
                    <div class="c2-new">
                        <div class="c2-text">
                            <div class="new_idea" onclick="document.getElementById('new_post_modal').style.display='block';">What's your idea today...</div>                          </div>
                        <div class="c2-new-buttons">
                            <label class="c2-btns-l" for="new_pov" style="text-align: center;">
                                <table><td><img src="{% static 'icon/photo.png' %}"></td><td>Photo/Video</td></table>
                                <input type="file" id="new_pov" style="display: none;">
                            </label>
                            <div class="c2-btns-v" onclick="document.getElementById('new_post_modal').style.display='block';">
                                    <table><td><img src="{% static 'icon/venue.png' %}"></td><td>Activity/Event</td></table>
                            </div>
                            <div class="c2-btns-e" onclick="document.getElementById('new_post_modal').style.display='block';">
                                <table><td><img src="{% static 'icon/feeling.png' %}"></td><td>Feeling</td></table>
                            </div>
                        </div>
                    </div>
                    <div id="new_post_modal">
                        <div class="modal">
                            <div class="modaltop">
                                <div class="modalheader">
                                    Create Post
                                </div>
                                <div class="closebutton">
                                    <span onclick="document.getElementById('new_post_modal').style.display='none';">&times;</span>
                                </div>
                            </div>
                            <div class="new_post">
                                <div class="posting-user">
                                    {% for i in user %}
                                    <table>
                                        <td><img src="{% static 'img/defaultpp.jpg' %}"></td>
                                        <td style="font-weight: bold;">{{i.first_name}} {{i.last_name}}<br>
                                        </td>
                                    </table>
                                    {% endfor %}
                                </div>
                                <form>
                                <div class="caption-write">
                                    <textarea placeholder="What's your idea today..."></textarea>
                                </div>
                                </form>
                                <!-- <div onclick="document.getElementById('setvenue').value='Kathmandu'; document.getElementById('showvenue').value='Kathmandu';">Kathmandu</div> -->
                            </div>
                        </div>
                    </div>
                    {% for i in user %}
                    <div class="c2">
                        <div style="overflow: hidden;">
                            <div class="c2-post">
                                <table>
                                    <td><img src="{% static 'img/defaultpp.jpg' %}"></td>
                                    <td style="font-weight: bold;">{{i.first_name}} {{i.last_name}}
                                    </td>
                                    <td>
                                        is conducting an event
                                    </td>
                                </table>
                                <p class="light">12:30pm</p>
                            </div>
                            <div class="c2-r-opt" style="float: right;">
                                <img src="{% static 'icon/dropdown.png' %}">
                            </div>
                        </div>
                        <div class="caption">
                            Today Futsal anyone?dsadmaslkdnasjdkasjncksajnjsandjkasndksabdksabcksabckasbcksajcnascnacnasjcnacnsacnakscnskacnacnaskcasc
                        </div>
                        <div class="location">
                            <table>
                                <td><img src="{% static 'icon/venue.png' %}"></td>
                                <td>ABC Futsal</td>
                            </table>
                        </div>
                        <div class="postedimg">
                            <img src="{% static 'media/w1.png' %}">
                        </div>
                        <div class="joinin">
                            <form>
                                <input type="submit" value="JOIN">
                            </form>
                            <form>
                                <input type="submit" value="INTERESTED">
                            </form>
                            <form>
                                <input type="submit" value="MAYBE">                        
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="container3">
                    <div class="c3">
                        Your Interest
                        #football
                        #games
                        #programming
                    </div>
                    <div class="c3">
                        <p>Following</p>
                        <table>
                        {% for i in others %}
                        <tr class="chatuser">
                            <td class="c3-img">
                                <img src="{% static 'img/defaultpp.jpg' %}" style="width:50px">
                            </td>
                            <td class="c3-label"> 
                                {{i.first_name}} {{i.last_name}}
                            </td>
                        </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/header.js' %}"></script>