<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Spotser</title>
        <link rel="icon" href="{% static 'img/icon.png' %}">
    </head>
    <link rel="stylesheet" href="{% static 'css/newsfeed.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <body>
        <div class="homepage">
            <!-- header import -->
            {% include 'header.html' %}
            
            <!-- 3 divs -->
            <div class="container_newsfeed">
                <div class="container1">
                    <!-- profile picture -->
                    <div class="c1-profile">
                        <img src="{% static 'img/defaultpp.jpg' %}">
                    </div>
                    <!-- name -->
                    <div class="c1-profile">
                        <b class="name-font">Rusan Vadiya</b>
                    </div>
                    <!-- follower/following -->
                    <div class="c1-profile">
                        <table>
                            <td>
                                0 <br><p>Followers</p>
                            </td>
                            <td>
                                0 <br><p>Following</p>
                            </td>
                        </table>
                    </div>
                    <!-- bio -->
                    <div class="c1-profile">
                        <div class="bio">
                            football gamer
                        </div>
                    </div>
                    <!-- edit profile -->
                    <div class="c1-profile">
                        <div class="edit-p">
                            <button>Edit Profile</button>
                        </div>
                    </div>
                </div>
                <div class="container2">
                    <div class="c2-new">
                        <form>
                            <div class="c2-text">
                                <textarea placeholder="Let's create a new sport event..."></textarea>
                            </div>
                            <div class="c2-new-buttons">
                                <div class="c2-btns-l">
                                    <table>
                                        <td><img src="{% static 'icon/photo.png' %}"></td>
                                        <td>Photos/Videos</td>
                                    </table>
                                </div>
                                <div class="c2-btns-v">
                                    <table>
                                        <td><img src="{% static 'icon/venue.png' %}"></td>
                                        <td>Select Venue</td>
                                    </table>
                                </div>
                                <div class="c2-btns-e">
                                    <table>
                                        <td><img src="{% static 'icon/calender.png' %}"></td>
                                        <td>Choose Date</td>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="c2">
                        <table class="c2-post">
                            <td><img src="{% static 'img/defaultpp.jpg' %}"></td>
                            <td style="font-weight: bold;">first_name last_name<br>
                                <p class="light">12:30pm</p>
                            </td>
                        </table>
                        <div class="caption">
                            Today Futsal anyone?dsadmaslkdnasjdkasjncksajnjsandjkasndksabdksabcksabckasbcksajcnascnacnasjcnacnsacnakscnskacnacnaskcasc
                        </div>
                        <div class="location">
                            <table>
                                <td><img src="{% static 'icon/venue.png' %}"></td>
                                <td>ABC Futsal</td>
                            </table>
                        </div>
                        <div class="postedimg">
                            <img src="{% static 'media/w1.png' %}">
                        </div>
                        <div class="joinin">
                            <form>
                                <input type="submit" value="JOIN">
                            </form>
                            <form>
                                <input type="submit" value="INTERESTED">
                            </form>
                            <form>
                                <input type="submit" value="MAYBE">                        
                            </form>
                        </div>
                    </div>

                </div>
                <div class="container3"></div>
            </div>
        </div>