{% extends 'home.html' %}
{% block bodyloader %}
    <body onload="loader_trending()">
{% endblock %}
{% block leftfeed %}
{% load static %}
<div class="left-feed">
    <div class="trending-topics-div">
        <div class="topic">
            Trending
        </div>
        <ul>
            {% for key,value in trending_hashtags.items %}
            <li><button onclick="window.open('trending?topic={{key}}','_self')">#{{key}}</button></li>
            {% endfor %}
        </ul>
    </div>
    {%for post in trend%}
    {% for p in pu %}
    {% if p.id == post.author_id %}

    <div class="feedsocket">
        <div class="feedpost">
            <div class="user-who-posted">
                <div class="u-name">
                    <table>
                        {% for bio in userdata %}
                        {% if bio.owner_id == post.author_id %}
                        {% if bio.profile_pic != '' %}
                        <td><img src="media/{{bio.profile_pic}}"></td>
                        {% else %}
                        <td><img src="{% static 'img/defaultpp.jpg' %}"></td>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <td class="u-fullname">{{p.first_name}} {{p.last_name}}</td>
                        {% if post.emoji != '' %}
                        <td>{{post.feeling}}</td>
                        <td class="femoji"><img src='/static/{{post.emoji}}'></td>
                        {% endif %}
                    </table>
                </div>
                <div class="u-edit">
                    <img src="{% static 'icon/dropdown.png' %}" id="ab-img-{{post.id}}" class="post-drop">
                    <div class="about-post" id="ap-{{post.id}}">
                         <ul>
                            {% if post.author_id == mydetials.owner_id %}
                                <li><button onclick="document.getElementById('edit-this-{{post.id}}').style.display='block'">Edit this post</button></li>

                                <li><button onclick="document.getElementById('del-warn{{post.id}}').style.display='block'">Delete this post</button></li>
                            {% endif %}
                                {% if post.author_id != mydetials.owner_id %}
                                <form class="save-post{{post.id}}" method="post" action="saved_post" id="save{{post.id}}"> {% csrf_token %}
                                <input type="hidden" name="userid" class="userid{{post.id}}" value="{{mydetials.owner_id}}">
                                <input type="hidden" name="postid" class="postid{{post.id}}" value="{{post.id}}">
                                <li>
                                <button type="submit">Save this post</button></li>
                                </form>
                                <form class="flag-post" method="post" action="flag_post" id="flag{{post.id}}"> {% csrf_token %}
                                <input type="hidden" name="userid" value="{{mydetials.owner_id}}">
                                <input type="hidden" name="postid" value="{{post.id}}">
                                <li><button type="submit">Flag inappropriate</button></li>
                                </form>
                                <li><button>Block {{p.first_name}} {{p.last_name}}</button></li>
                                {% endif %}
                            </ul>
                    </div>
                    <div class="view-posted-content" id="del-warn{{post.id}}">
                        <div class="warning">
                            <div>
                                <h1>Are you sure you want to delete this post?</h1>
                            </div>
                            <div>
                                {% if post.author_id == mydetials.owner_id %}
                                <form class="delete-post" method="post" action="delete_post" id="delete{{post.id}}"> {% csrf_token %}
                                    <input type="hidden" name="userid" value="{{mydetials.owner_id}}">
                                    <input type="hidden" name="postid" value="{{post.id}}">
                                <button class="delbtn" type="submit">Yes</button>
                                </form>
                                <button onclick="document.getElementById('del-warn{{post.id}}').style.display='none'">No</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var post_about = document.getElementById('ab-img-{{post.id}}')
                    post_about.onclick = function()
                    {
                        document.getElementById('ap-{{post.id}}').classList.toggle('show');
                    }
                </script>
            </div>
            <div class="time-post">{{post.created}}</div>
            <div class="caption" id='capt-{{post.id}}'>{{post.usercontent}}</div>
            <script>
                var linking = document.getElementById("capt-{{post.id}}").innerHTML; 
                var repl=linking.replace(/#(\w+)/g, "<a href='trending' style='color: wheat; font-size:20px;'>#$1</a>");
                document.getElementById('capt-{{post.id}}').innerHTML=repl
            </script>
            <div id="{{post.id}}" style="display:none">{{post.userfile}}</div>
            <div class="postedimg" id="new{{post.id}}">
                <video src="media/{{post.userfile}}" controls id='vid_spo{{post.id}}' width="100%" height="100%"></video>
                <img src="media/{{post.userfile}}" id='img_spo{{post.id}}' onclick="document.getElementById('view-posted-photo{{post.id}}').style.display='block'">
            </div>
            <script>
                var x=document.getElementById({{post.id}}).innerHTML;
                console.log(x);

                var pics = /.(jpeg|jpg|png)$/;
                var vids = /.(mp4|wmv)/;


                if (pics.test(x)){
                    document.getElementById('vid_spo{{post.id}}').style.display='none';
                }
                else if (vids.test(x)){
                    document.getElementById('img_spo{{post.id}}').style.display='none';
                }
                else{
                document.getElementById('new{{post.id}}').style.display='none';
                }
            </script>
            <div style="width: 100%;">
                <table style="display:inline" id="like-table-t-{{post.id}}">
                    <td class="react-act imageClass"><img style="width: 20px" src="{% static 'icon/like.png' %}"></td>
                    <td id="number-{{post.id}}" style="font-size: 20px;">{{post.num_likes}}</td>
                </table>
                <script>
                    var count=0
                </script>
                <table style="display: inline;" id="cmnt-count-show{{post.id}}">
                    <td><img src="{% static 'icon/comment.png' %}" style="width: 20px"></td>
                    <td id='count_comment{{post.id}}' style="font-size: 20px;"></td>
                </table>
                {% for item in comments %}
                {% if item.post_id == post.id %}
                <script>
                    count+=1;
                    document.getElementById('count_comment{{post.id}}').innerText=count;
                </script>
                {% endif %}
                {%endfor%}
                
                <script>
                    if(document.getElementById('count_comment{{post.id}}').innerText==0)
                    {
                        document.getElementById('cmnt-count-show{{post.id}}').style.display='none';
                    }
                </script>
            </div>
            <div class="post-react">
                <ul>
                    <li>
                        <form action="like_unlike" method="POST" class='like-form' id='l{{post.id}}'>{% csrf_token %}
                            <input type="hidden" name="postid" value="{{post.id}}">

                            <table id="table-like-{{post.id}}" class="tab-like">
                                {% if like_unlike is None %}
                                <td class="react-act imageClass"><img src="{% static 'icon/like-i.png' %}"></td>
                                <td>Like</td><div style="width: 100%;">
                <!-- {% if post.num_likes > 0 %}
                <table style="display:inline">
                    <td class="react-act imageClass"><img style="width: 20px" src="{% static 'icon/like.png' %}"></td>
                    <td id="number-{{post.id}}" style="font-size: 20px;">{{post.num_likes}}</td>
                </table>
                {% endif %}
                <script>
                    var count=0
                </script>
                <table style="display: inline;" id="cmnt-count-show{{post.id}}">
                    <td><img src="{% static 'icon/comment.png' %}" style="width: 20px"></td>
                    <td id='count_comment{{post.id}}' style="font-size: 20px;"></td>
                </table> -->
                {% for item in comments %}
                {% if item.post_id == post.id %}
                <script>
                    count+=1;
                    document.getElementById('count_comment{{post.id}}').innerText=count;
                </script>
                {% endif %}
                {%endfor%}
                
                <script>
                    if(document.getElementById('count_comment{{post.id}}').innerText==0)
                    {
                        document.getElementById('cmnt-count-show{{post.id}}').style.display='none';
                    }
                </script>
            </div>
                                {% endif %}
                               <td>
                                   <button type="submit" value="Like-on-{{post.id}}" id="l10-{{post.id}}" name="like" style="border: none; background: none;">

                                <span class="react-act imageClass" id="like-i-{{post.id}}"><img src="{% static 'icon/like-i.png' %}"></span>
                                <span class="none-react-post react-act active-btn" id="like-a-{{post.id}}"><img src="{% static 'icon/like.png' %}"></span>

                                {% for lk in like_unlike %}

                                {% if lk.post_id == post.id and lk.user_id == mydetials.owner_id %}
                                       {% if lk.value == 'Like' %}
                                    <script>
                                    var status_like = "Like";
                                    var inactive_like = document.getElementById("like-i-{{post.id}}");
                                    if(status_like=="Like")
                                    {
                                        document.getElementById('table-like-{{post.id}}').classList.toggle('like-on-this-post');
                                        document.getElementById('like-a-{{post.id}}').classList.remove('none-react-post');
                                        document.getElementById('like-i-{{post.id}}').classList.toggle('none-react-post');
                                    }
                                     </script>

                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                </button>
                            </td>
                            <td>Like</td>
                        </table>
                    </form>
                    </li>
                    <li>
                        <table class="tab-comment" onclick="document.getElementById('give-comment-{{post.id}}').style.display='block';">
                            <td><img src="{% static 'icon/comment.png' %}"></td>
                            <td id='count_comment{{post.id}}'>Comment</td>
                        </table>
                    </li>
                </ul>
                <div class="view-posted-content" id="give-comment-{{post.id}}">
                    <div class="modal comment-content">
                        <div class="modaltop">
                            <div class="modalheader">
                                <div class="closebutton">
                                    <span onclick="document.getElementById('give-comment-{{post.id}}').style.display='none';">&times;</span>
                                </div>
                                <table>
                                    {% for bio in userdata %}
                                    {% if bio.owner_id == post.author_id %}
                                    {% if bio.profile_pic != '' %}
                                    <td><img src="media/{{bio.profile_pic}}"></td>
                                    {% else %}
                                    <td><img src="{% static 'img/defaultpp.jpg' %}"></td>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    <td class="u-fullname"><a href="view_profile?id={{p.id}}">{{p.first_name}} {{p.last_name}}</a></td>
                                </table>
                            </div>
                            <div class="feeling-cmnt-section">
                                <table>
                                {% if post.emoji != '' %}
                                    <td>~ {{post.feeling}}</td>
                                    <td class="femoji"><img src='/static/{{post.emoji}}'></td>
                                {% endif %}
                                </table>
                            </div>
                        </div>
                        <div class="caption" id="caption-{{post.id}}">{{post.usercontent}}</div>
                        <div class="cmnt-on-this" id="cmnt-on-this-{{post.id}}">
                            <img src="media/{{post.userfile}}" id="cmnt-on-img-{{post.id}}" onclick="document.getElementById('view-posted-photo{{post.id}}').style.display='block'; document.getElementById('give-comment-{{post.id}}').style.display='none'">
                        </div>
                        <form method="post" action="comment_post">{% csrf_token %}
                            <input type="hidden" name="postid" value="{{post.id}}">
                            <input type="hidden" name="userid" value="{{mydetials.owner_id}}">
                            <div class="view-cmnt">
                                <a href="post_comment?pid={{post.id}}">View all Comments</a>
                            </div>
                            <div class="give-cmnt">
                                <textarea placeholder="Write Comment Here..." name="comment" required></textarea>
                            </div>
                            <div class="submit-cmnt">
                                <input type="submit" value="Comment">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="view-posted-content" id="edit-this-{{post.id}}">
                    <div class="modal comment-content">
                        <div class="modaltop">
                            <div class="modalheader">
                                <div class="closebutton">
                                    <span onclick="document.getElementById('edit-this-{{post.id}}').style.display='none';">&times;</span>
                                </div>
                                <table>
                                    {% for i in user %}
                                    {% if mydetials.profile_pic != '' %}
                                    <td class="new-poster"><img src="media/{{mydetials.profile_pic}}"></td>
                                    {% else %}
                                    <td class="new-poster"><img src="{% static 'img/defaultpp.jpg' %}"></td>
                                    {% endif %}
                                    <td class="u-fullname"><a href="view_profile?id={{p.id}}">{{i.first_name}} {{i.last_name}}</a></td>
                                    {% if post.emoji != '' %}
                                    <td>{{post.feeling}}</td>
                                    <td class="femoji"><img src='/static/{{post.emoji}}'></td>
                                    {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>

                        <form method="post" action="edit_post">{% csrf_token %}
                            <input type="hidden" name="postid" value="{{post.id}}">
                            <input type="hidden" name="authorid" value="{{mydetials.owner_id}}">
                        <div class="caption-share">
                            <textarea placeholder="Write your thoughts..." name="edit_caption" required>{{post.usercontent}}</textarea>
                        </div>
                        <div class="feeling-cmnt-section border-share-content">
                            <div class="cmnt-on-this" id="share-on-this-{{post.id}}">
                                <img src="media/{{post.userfile}}" id="share-on-img-{{post.id}}" onclick="document.getElementById('view-posted-photo{{post.id}}').style.display='block'; document.getElementById('give-share-{{post.id}}').style.display='none'">
                            </div>
                        </div>

                            <div class="submit-cmnt">
                                <input type="submit" value="Save">
                            </div>
                        </form>

                    </div>
                </div>

                <script>
                    var x=document.getElementById({{post.id}}).innerHTML;

                    var pics = /.(jpeg|jpg|png)$/;
                    var vids = /.(mp4|wmv)/;


                    if (pics.test(x)){
                        document.getElementById('vid_spo{{post.id}}').style.display='none';
                        document.getElementById('cmnt-on-vid-{{post.id}}').style.display='none';
                        document.getElementById('share-on-video-{{post.id}}').style.display='none';
                    }
                    else if (vids.test(x)){
                        document.getElementById('img_spo{{post.id}}').style.display='none';
                        document.getElementById('cmnt-on-img-{{post.id}}').style.display='none';
                        document.getElementById('share-on-img-{{post.id}}').style.display='none';
                    }
                    else{
                    document.getElementById('new{{post.id}}').style.display='none';
                    document.getElementById('cmnt-on-this-{{post.id}}').style.display='none';
                    document.getElementById('caption-{{post.id}}').style.height='100px';
                    document.getElementById('share-on-this-{{post.id}}').style.display='none';
                    document.getElementById('share-{{post.id}}').style.height='100px';
                    }
                </script>
                
            </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}
    <script>
        $('#l{{post.id}}').submit(function(e){
            e.preventDefault()
    
            var post_id = $(`.postid{{post.id}}`).attr('value');
            // console.log(post_id)
            const url =$(this).attr('action');
            // console.log(url)
            var count_likes = parseInt($(`#number-{{post.id}}`).text());
            // console.log(count_likes);
    
    
    
            $.ajax({
                type:'POST',
                url : url,
                data:{
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                'postid' : post_id
                },
                success:function(response){
                    document.getElementById('table-like-{{post.id}}').classList.toggle('like-on-this-post');
                    if(document.getElementById('like-i-{{post.id}}').classList.contains('none-react-post'))
                    {
                        document.getElementById('like-i-{{post.id}}').classList.remove('none-react-post' );
                        document.getElementById('like-a-{{post.id}}').classList.toggle('none-react-post');
                        count_likes = count_likes - 1;
                        document.getElementById('number-{{post.id}}').innerText = count_likes;
                    }
                    else if(document.getElementById('like-a-{{post.id}}').classList.contains('none-react-post'))
                    {
                        document.getElementById('like-i-{{post.id}}').classList.toggle('none-react-post');
                        document.getElementById('like-a-{{post.id}}').classList.remove('none-react-post');
                        count_likes = count_likes + 1;
                        document.getElementById('number-{{post.id}}').innerText = count_likes;
                    }
                },
                error:function(response){
                console.log('error',response)
                }
                });
    
        });
        $('.save-post{{post.id}}').submit(function(e){
        e.preventDefault()

        const save_id = $(`.userid{{post.id}}`).attr('value')
        const post_id = $(`.postid{{post.id}}`).attr('value')
        const url =$(this).attr('action')


        $.ajax({
            type:'POST',
            url : url,
            data:{
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'userid' : save_id,
            'postid' : post_id
            },
            success:function(response){
                alert('Post is Saved');
            },
            error:function(response){
            console.log('error',response)
            }
            });


    });
    </script>
    {% endfor %}
</div>
{% endblock %}
<script src="{% static 'js/header.js' %}"></script>
<script src="{% static 'js/newsfeed.js' %}"></script>
